<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>

    <a href="/" style="text-decoration:none">Back to Products</a><br/>

    <h4>
        You have
        <span th:text="${itemsInCart}"></span>
        <span th:if="${itemsInCart == 1}">item</span>
        <span th:unless="${itemsInCart == 1}">items</span>
        in your cart.
    </h4>

    <script>
        let qtyDropDown;
        let cartItemQtyOption;
    </script>

    <tr th:each="item: ${cartItems}">
        <div>
            Name: <span th:text="${item.name}"></span><br>
            Price: £<span th:text="${item.price}"></span><br>
            Quantity: <span th:text="${item.quantity}"></span><br>
            Subtotal: £<span th:text="${item.price * item.quantity}"></span><br>
        </div>
        <form action="#" th:action="@{/cart/} + ${item.cartID}" th:method="patch" th:object="${map}">
            <input type="hidden" name="productID" th:value="${item.productID}">
            <input type="hidden" name="inStock" th:value="${item.inStock}">
            <input type="hidden" name="currentQty" th:value="${item.quantity}">
            <select name="newQty" th:id="qty-drop-down- + ${item.cartID}">
                <option th:each="i : ${#numbers.sequence(0, item.inStock + item.quantity)}" th:value="${i}" th:text="${i}">
                </option>
            </select>
            <input type="submit" value="Edit Qty">
        </form><br>

        <script>
            qtyDropDown = document.getElementById('qty-drop-down-[[${item.cartID}]]');
            qtyDropDownOption = qtyDropDown[String([[${item.quantity}]])];
            qtyDropDownOption.selected = true;
        </script>
    </tr>

    <h4>Total: £<span th:text="${cartTotal}"></span></h4>
</body>
</html>